
h3 {
    margin: 40px 0 0;
}
  ul {
    list-style-type: none;
    padding: 0;
  }
  li {
    display: inline-block;
    margin: 0 10px;
  }
  a {
    color: #42b983;
  }

button{
    margin: 1rem;
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 5px;
    border: none;
     background-color: #009966;
     color: #fff;
  }
 button:hover{
    background-color: #66ffcc;
    transition: 0.5s;
    cursor: pointer;
    color: #319e76;
  }

  button:disabled {
    background-color: #e6fff7;
    cursor: no-drop;
    transition: 0.5s;
    color: #319e76;
  }

  input {
    padding:1rem;
  }

/* Warn message */
  .warn{
      color: red;
      transition: 0.5s;
  }
  /* input warn style */
  .input-warn{
    border: 2px solid red;
    transition: 0.5s;
  }